.panel-elements-category-title-eb-elementor-extended {
    background-color: #9b0a46;
    color: #fff;
    margin: 5px 10px;
    border-radius: 3px;
}
.eb-map-find-address {
	    margin-top: 10px;
    margin-bottom: 10px;
}
#eb-output-result {
	margin-bottom: 10px;
    line-height: 1.3;
    font-size: 12px;
}

.elementor-control-map_search_query .elementor-control-input-wrapper,
.elementor-control-map_search_button .elementor-control-input-wrapper {
	width: 100% !important;
}
.elementor-control-map_search_button .elementor-control-field {
	display: block !important;
}
.elementor-control-map_search_button .elementor-button {
	display: block !important;
	width: 100% !important;
	height: 30px !important;
}